@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding:0px;
    margin:0px;
    width:100vw;
    height:100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background:rgb(245, 173, 88);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fff;
    border-bottom:12px solid rgb(245, 173, 88);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background:rgb(245, 173, 88);
}
.box2 {
    background:rgb(245, 173, 88);
    margin-left:-5px;
}

#header {
    position: absolute;
    width:80%;
    padding:0% 10%;
    text-align:center;
    transition:0.6s ease-in-out;
    z-index: 2;
}

#header div {
    display:block;
}
#links {
    margin:40px 0px;
    transition:0.6s ease-in-out;
    color:#fff;
}
#links a {
    margin:0px 30px;
    color:inherit;
    text-decoration:none;
    transition:0.4s ease-in-out;
    padding:5px 8px;
    border-bottom:2px solid transparent;
}
#links a:hover {
    border-bottom:2px solid #fff;
}

#particles-js {
    position:absolute;
    width:100vw;
    height:100vh;
    z-index: 0;
}

#middle {
    height:100vh; 
    background:linear-gradient(0deg,rgba(165, 26, 26, 0.5),rgba(255, 255, 255, 0.1)),url("./images/background.png") center center;
    background-size:cover;
    background-repeat:no-repeat;
    color:#fff;
    display:flex;
    justify-content:center;
    flex-direction:column;
    transition:1s ease-in-out;
    text-align:center;
    padding-top:5vh;
    padding-bottom:10vh;
}
#middle table {
    width:75%;
    margin:3vh 1vh;
    margin-right: auto;
    margin-left: auto;
    /* text-align: center; */
}
#middle table tr td {
    text-align:center;
}

#middle h1 {
    color:rgb(245, 173, 88);
    font-size:70px;
    text-decoration:underline;
}
.typewrite {
    color:#fff;
    text-decoration: underline;
    text-decoration-color: rgba(245, 173, 88);
}

.social {
    color:#fff;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social:hover { 
    cursor: pointer;
    color:rgb(245, 173, 88);
}
.btn_one {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    background:transparent;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:1vh 10px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    cursor:pointer;
    color:rgb(245, 173, 88);
    background:#fff;
}
.btn_two {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(245, 173, 88);
    background:#fff;
    border:3px solid rgb(245, 173, 88);
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_two:hover {
    cursor:pointer;
    /* padding:8px 60px; */
    box-shadow:0px 10px 30px rgb(182, 162, 122);
    cursor:pointer;
    color:#fff;
    background:rgb(245, 173, 88);
}

#portfolio {
    position: relative;
    z-index: 1;
    width:80%;
    padding:2% 10%;
    font-family: 'Josefin Sans', sans-serif;
}
#portfolio div h1 {
    font-size:40px;
    padding-top: 3px;
    background-image: linear-gradient(to left, rgb(245, 173, 88) 0%, #fd9473 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
}

#portfolio div h2 {
    color: rgb(182, 162, 122);
}

#portfolio div h3 {
    color: rgb(90, 90, 90);
}

#portfolio div p {
    color: rgb(90, 90, 90);
    line-height: 1.5em;

}

#portfolio li{
    margin: 20px 0;
    color: rgb(90, 90, 90);
}

#about {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#work {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}

#gallery li{ 
    list-style-type: none; margin-bottom: 0px;
    text-align: center;
}

#gallery ul{ margin: 0px 0px; }

.button-group{ text-align: center; margin-bottom: 40px;}
.btn{
    color:#fd9473;
    background:#fff;
    text-transform: lowercase;
    font-family: 'Josefin Sans', sans-serif;
    border:3px solid #fd9473;
    padding:8px 40px;
    border-radius:80px;
    margin:2vh 5px;
    transition:0.4s ease-in-out;
}
.btn:hover{
    cursor: pointer;
}

.btn.on{
      background: #fd9473;
      color:#fff;
}

  /* grid */
.examples{ 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.grid{ 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.grid-item { 
    display: block;
    width: 30%;
    height: auto;
    overflow: hidden;
    transition:0.4s ease-in-out;
    margin: 0px 0px !important;
}

 img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-in-out;
}

.grid-item:hover img {
	transform: scale(1.01);
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 36%;
  }

.grid-item:hover .overlay {
    display: block;
    background: rgba(90, 90, 90,0.3);
}

.caption {
    text-align: center;
    text-transform: lowercase;
    color: #fff !important;
    font-size: 14px;
    opacity: 0;
    transition: 0.4s ease-in;
  }

.grid-item:hover .caption {
    color: #fff !important;
    font-size: 20px;
    opacity: 1;
}
.btn_img {
    font-size:14px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    background:transparent;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:1vh;
    transition: 0.4s ease-in;
    text-transform: lowercase;
    
    opacity: 0;
}
.grid-item:hover .btn_img {
    font-size:18px;
    opacity: 1;
}

.btn_img:hover{
    cursor:pointer;
    border:3px solid rgb(245, 173, 88);
    background: rgb(245, 173, 88);
    color: #fff;
}

#contact {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}

#contact a{
    text-decoration: none;
    color: rgb(245, 173, 88);
}

#contact form {
    width:100%;
}
#contact form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:2px solid rgb(90, 90, 90);
    padding:8px 10px;
    font-family: 'Comfortaa', cursive;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:rgb(90, 90, 90);
}
#contact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:2px solid rgb(90, 90, 90);
    padding:8px 10px;
    font-family: 'Comfortaa', cursive;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:rgb(90, 90, 90);
}
#contact form input:focus {
    outline:none;
    border-bottom:2px solid rgb(90, 90, 90);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:2px solid rgb(90, 90, 90);
}
::placeholder {
    color:rgb(90, 90, 90);
}

#used div{
    font-size:14px !important;
    display:inline-block;
    padding:8px 10px;
    color: rgb(90, 90, 90);
    margin:6px 10px;
}

.software{
    border:2px solid #fd9473;
    border-radius:50px;
}

.language{
    border:2px solid rgb(245, 173, 88);
    border-radius:50px;
}

.container {
    width:100%;
    height:fit-content;
    padding: 0px 0px;
    background:transparent;
    display:inherit;
    transition: 0.1 ease-in-out;
}
/* .container div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.container div:hover {
    cursor:pointer;
}
.container section {
    margin:8vh 0px;
}
.container h1 {
    font-size:60px;
    text-decoration:underline;
}
.container p {
    font-size:21px;
} */
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
    color: rgb(182, 162, 122);
}

/* #footer a {
    font-size:18px;
    background-image: linear-gradient(to left, rgb(245, 173, 88) 0%, #fd9473 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
    text-decoration:none;
} */


#footer table {
    width:30%;
    margin:10vh auto;
    margin-right: auto;
    margin-left: auto;
}
#footer table tr td {
    text-align:center;
}

.social_contact {
    color:rgb(182, 162, 122);
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social_contact:hover { 
    cursor: pointer;
    color:rgb(245, 173, 88);
}
.top-link {
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: 0.1em;
    width: 40px;
    height: 40px;
    background-color: rgb(182, 162, 122);
    z-index: 10;
    text-decoration:none;
}

.top-link.show {
    visibility: visible;
    opacity: 1;
}
.top-link.hide {
    visibility: hidden;
    opacity: 0;
}
.top-link i {
    color: #fff;
    font-size: 30px;
}
.top-link:hover {
    background-color: rgb(245, 173, 88);
}

button{
    outline:none;
}

::selection {
	color: #fff;
	background: rgb(245, 173, 88);
}

::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: rgb(182, 162, 122); 
}
::-webkit-scrollbar-thumb {
    background: rgb(245, 173, 88); 
}
::-webkit-scrollbar-thumb:hover {
    background: #fd9473; 
}
@-webkit-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}

@media (max-width: 900px){
    #header {
        width:90%;
        padding:0% 5%;
    }
    #links a{
        padding: 5px 0px;
    }
    #contact form input {
        width:92%;
    }
    #contact form textarea {
        width:92%;
    }
    #portfolio{
        width:90%;
        padding:2% 5%;
    }
    .btn_two{
        padding:8px 10px;
        margin: 1vh 4px;
    }
    .grid-item { 
        width: 40%;
    }
    .grid-item:hover .caption{
        font-size: 18px;
    }
    .overlay{
        padding-top: 20%;
    }
    .btn_img{
        margin:0;
        padding:8px 8px;
    }
}